.header {

  // top


  &__main {
    background-color: var(--secondary-dark-color);
    padding: 1.5em 0;
    margin-bottom: 2em;
  }
}

// top

.left {

  &__dpt-cat {
    position: relative;
    z-index: 10;
  }

  &__dpt-head {
    position: relative;
    width: 300px;
    padding: 0.75em 1.5em;
    background-color: var(--primary-color);
    border-radius: 7px 7px 0 0;
    color: var(--white-color);
    margin-bottom: -26px;
  }

  &__mini-text {
    color: var(--light-bg-color) !important;
  }

  &__trigger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.3em;
    height: 60px;
    width: 60px;
  }
}

.right {

  &__main-links {
    display: flex;
    gap: 2rem;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: flex;
    position: relative;
    line-height: inherit;

    &:hover {
      color: var(--secondary-color);
    }
  }

  &__icon {
    font-size: 1.25rem;
    margin: auto;
  }
}

.wishlist {
  display: flex;
  align-items: center;

  &__icon {
    position: relative;
  }

  &__fly-item {
    top: 0;
    left: 20px;
    width: 16px;
    background-color: var(--secondary-dark-color);
    border-radius: var(--percent50);
  }
}

.mobile-hide {
  display: none;
}

.cover {

  &__img {
    position: absolute;
    object-fit: cover;
    width: var(--percent100);
    height: var(--percent100);
    display: block;
  }
}

.category {

  &__right {
    flex: 1;
  }
}

.search {

  &__form {
    position: relative;

    & :where(span,button) {
      position: absolute;
      top: 0;
      padding: 0.55em 1.5em;
      font-size: 1em;
      color: var(--light-text-color);
      height: var(--percent100);
    }
  }

  &__input {
    line-height: 3.25em;
    padding: 0 7em 0 4.5em;
    border: 0;
    outline: 0;
    width: var(--percent100);
    border-radius: 7px;
    font-size: 0.9em;
    font-weight: var(--fw3);
  }

  &__icon {
    font-size: 1.50em !important;
    top: 5px;
    left: 20px;
  }

  &__btn {
    right: 0;
    border: 0;
    outline: 0;
    font-size: 0.875em;
    font-weight: var(--fw6);
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    transition: var(--trans-background);

    &:hover {
      background-color: var(--dark-color);
    }
  }

}

.dtp-menu__list-item {
  position: relative;
  z-index: 111;

  &:hover {
    color: var(--light-text-color);
  }
}

.dpt-menu {
  &__list {
    width: 100%;
    font-size: var(--font-small);
    height: 46px;
    align-items: center;
  }

  & .has-child:hover ul {
    display: block;
  }

  &__item {
    display: flex;
    align-items: center;
    &:hover {
      color: var(--light-text-color);
    }
  }
}

















@media screen and (min-width: 993px) {
  .desktop-hide {
    display: none;
  }

  .mobile-hide {
    display: block;
  }

  .logo {

    &__link {
      margin-right: 2em;
    }
  }

  header {

    &__nav {
      padding: 0;
      margin: 0;
      border-bottom: 0;
    }
  }

  //.mega {
  //  position: absolute;
  //  width: var(--percent100);
  //  height: auto;
  //  top: auto;
  //  left: 0;
  //  right: 0;
  //  padding: 2.5em;
  //  line-height: 2em;
  //  background-color: var(--light-bg-color);
  //  box-shadow: rgb(0 0 0 /20%) 0 30px 20px -30px;
  //  z-index: 100;
  //  display: none;
  //
  //  &__wrapper {
  //    display: flex;
  //  }
  //
  //  &__title {
  //    font-size: 0.8em;
  //    text-transform: uppercase;
  //  }
  //
  //  &__list {
  //    font-size: var(--font-small);
  //
  //    &-brands {
  //      display: flex;
  //      flex-wrap: wrap;
  //      min-width: 180px;
  //    }
  //  }
  //
  //  &__item-width {
  //    min-width: 80px;
  //  }
  //
  //  &__view-all {
  //    margin-top: 1em;
  //  }
  //
  //  &__products {
  //    flex: 2;
  //    padding: 0;
  //    align-items: center;
  //    position: relative;
  //  }
  //}

  .child:hover .mega {
    display: block !important;
  }

  .category {

    &__right {
      max-width: 600px;
      margin-left: auto;
    }
  }


  /* Department Menu */

  .dpt-menu {
    position: absolute;
    top: var(--percent100);
    width: 300px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-top: 0;
    border-bottom: 0;

    &__list {
      font-weight: var(--fw5);
      padding: 0 1.5em;
      border-bottom: 1px solid var(--border-color);
    }

    & .has-child > ul, & .kit {
      position: absolute;
      top: 0;
      left: var(--percent100);
      width: var(--percent100);
      height: auto;
      min-height: var(--percent100);
      padding: 1.5em;
      font-size: var(--font-small);
      line-height: 2.5em;
      border: 1px solid var(--border-color);
      border-top: 0;
      display: none;
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: auto;
    }
  }


  .child-beauty {
    &__child {
      background-image: url("../../assets/menu/menu_bg1.jpg");
    }
  }

  .child-fashion {
    &__child {
      background-image: url("../../assets/menu/menu_bg2.jpg");
    }
  }

  .child-electronic {
    &__child {
      background-image: url("../../assets/menu/menu_bg3.jpg");
    }
  }

  .child-home-kit {
    & .kit {
      background-image: url("../../assets/menu/menu_bg4.jpg");
    }
  }

  .dpt-menu .has-child > :where(ul, .kit)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(225, 225, 225, 0.4) 0%, rgba(225, 225, 225, 0.61));
  }

  .kit {
    width: 800px!important;
    min-width: var(--percent100);
    justify-content: space-around;
  }

  .dpt-menu .has-child:hover .kit {
    display: flex;
  }
}