.slider {

   &__wrapper {
     width: calc(100% - (300px + 2em));
     margin-left: auto;
   }

  &__item {
    position: relative;
    height: 474px;
  }

  &__content {
    position: relative;
    margin-top: -330px;
    height: var(--percent100);
    justify-content: flex-end;
    padding: 0 0 10% 10%;
    z-index: 1;
  }

  &__text {
    margin: 20px 0;
    font-size: var(--font-small);
    font-weight: var(--fw7);
    width: fit-content;
    padding: 4px 10px;
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius: 4px;
  }

  &__suggestion {
    margin: 20px 0;
  }
}

.text--content :where(.title, .text) span:first-child{
  font-weight: var(--fw3);
  columns: var(--light-text-color);
}

.text--content :where(.title, .text) span:last-child{
  color: var(--secondary-dark-color);
  text-transform: uppercase;
  letter-spacing: -1px;
}