* {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

ul,ol,li{
  list-style: none;
}

a,a:hover{
  text-decoration: none;
}

a{
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: var(--percent100);
  vertical-align: middle;
}

strong {
  font-weight: var(--fw8);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font: inherit;
}

h1,h2,h3,h4 {
  font-family: "Poppins", sans-serif;
}

h1{
  font-size: calc(1.3em + 1vw);
  font-weight: var(--fw8);
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
}

h3{
  font-size: 1.2rem;
  font-weight: var(--fw7);
}

h4{
  font-size: 1em;
  font-weight: var(--fw6);
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}

.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}

.column .row {
  padding: 0 0.938em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.flexcenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media screen and (min-width: 993px) {
  .container {
    padding: 0 2rem;
  }
}