.departments {

  & .category {

    &__head {
      width: auto;
      font-size: var(--font-small);
      padding: 1em;
      margin-bottom: 1em;
      text-align: center;
      background-color: var(--light-bg-color);
      border-radius: 7px 7px 0 0;
      color: black;
    }
  }

  & .child {

    & > :where(.child__item, .kit){
      font-size: var(--font-small);
      font-weight: var(--fw3);
      line-height: 28px;
      padding-left: 3em;
    }

    &__item {

      &::before {
        display: none;
      }
    }
  }

  & .kit {

    &__wrapper {

      &::before {
        display: none;
      }
    }
  }

  & .menu {

    &__item {
      height: auto;
    }
  }
}